<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFC_DAM_TICKETS"
        tools:targetApi="31">
        <activity
            android:name=".ActivityDetalleUsuario"
            android:exported="false"
            android:theme="@style/Theme.TFC_DAM_TICKETS.NoActionBar" />
        <activity
            android:name=".SetNewPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.TFC_DAM_TICKETS.NoActionBar" />
        <activity
            android:name=".EnterRecCodeActivity"
            android:exported="false"
            android:theme="@style/Theme.TFC_DAM_TICKETS.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.TFC_DAM_TICKETS.NoActionBar" />
        <activity
            android:name=".ActivityDetalleTicket"
            android:exported="false"
            android:theme="@style/Theme.TFC_DAM_TICKETS.NoActionBar" />
        <activity
            android:name=".ActivityNuevoTicket"
            android:exported="false"
            android:theme="@style/Theme.TFC_DAM_TICKETS.NoActionBar" />
        <activity
            android:name=".TicketsList"
            android:exported="false"
            android:theme="@style/Theme.TFC_DAM_TICKETS.NoActionBar" />
        <activity
            android:name=".ActivityCategorias"
            android:exported="false"
            android:theme="@style/Theme.TFC_DAM_TICKETS.NoActionBar" />
        <activity
            android:name=".autenticacion.Login"
            android:exported="true"
            android:theme="@style/Theme.TFC_DAM_TICKETS.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>